body {
  margin-top: 75px;
  display: block;
}

.main {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 20px;
    min-height: 80vh;
}


.title{
    text-align: center;
    margin: 0;
    padding: 0;
}

.button-container{
    text-align: end;
    margin-top: 10px;
    margin-bottom: 10px;
}

.add{
    margin-right: 10px;
    width: 75px;
    height: 36px;
    outline: none;
    border: none;
    border-radius: 0.35rem;
    color: white;
    background-color: rgb(0, 153, 0);
    font-size: 13px;
}

.add:hover{
    background-color: green;
    color: white;
    border-radius: 0.35rem;
    border: none;
    outline: none;
}

.edit{
    margin-right: 10px;
    width: 75px;
    height: 36px;
    outline: none;
    border: none;
    border-radius: 0.35rem;
    background-color: #ececec;
    font-size: 13px;
}

.edit:hover{
    background-color: #e2e2e2;
    border-radius: 0.35rem;
    border: none;
    outline: none;
}

.remove{
    margin-right: 10px;
    width: 75px;
    height: 36px;
    outline: none;
    border: none;
    border-radius: 0.35rem;
    background-color: #e11c1c;
    font-size: 13px;
    color: white;
}

.remove:hover{
    background-color: #d21919;
    color: white;
    border-radius: 0.35rem;
    border: none;
    outline: none;
}