#box {
    background-color: white;
    color: black;
    padding: 5%;
    margin: 1%;
    border-style: solid;
    border-color: black;
}

#div-box {
    padding: 3%;
    margin: 1%;
    border-style: solid;
    border-color: black;
}