.register-container {
    max-width: 410px;
    margin: 0 auto;
    margin-top: 22vh;
    margin-bottom: 50px;
    border-radius: 0.5rem;
    padding: 2rem 1.5rem;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
    text-align: center;
}

.register-input{
    margin-bottom: 1rem;
    height: 36px;
    width: 300px;
    padding: 1rem;
    border-radius: 0.35rem;
    border: 1px solid #d0d0d0;
    outline: none;
    transition: 0.2 ease;
    font-size: 12px;
}

.register-input:focus{
    border-color: #909090;
}

.register-submit{
    width: 300px;
    height: 36px;
    margin-top: 0.3rem;
    margin-bottom: 0.4rem;
    outline: none;
    border: none;
    border-radius: 0.35rem;
    background-color: #ececec;
    font-size: 12px;
}

.register-submit:hover{
    background-color: #e2e2e2;
    border-radius: 0.35rem;
    border: none;
    outline: none;
}

.register-login{
    width:fit-content;
    margin: 0 auto;
    color: #909090;
    font-size: 12px;
    cursor: move;
    padding: 0.2rem;
}

.register-login:hover{
    color: #303030;
}